#detail {
  .detail {
    padding: 30px 0;
    &--head {
      display: flex;
      align-items: center;
      gap: 20px;
      img {
        width: 40px;
        border-radius: 5px;
      }
      h1 {
        font-size: 36px;
        letter-spacing: 0.03em;
        color: #191f5d;
      }
    }
    h3 {
      font-size: 14px;
      letter-spacing: 0.03em;
      color: #a7b0c2;
      margin-top: 20px;
    }
    h2 {
      color: #0062c4;
      font-size: 18px;
      margin-top: 5px;
    }
    &--text {
      border: 1px solid #e5e5e5;
      font-size: 18px;
      letter-spacing: 0.03em;
      font-weight: 400;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 25px 28px;
      width: 100%;
      white-space: pre-line;
      width: 694px;
      color: #191f4d;
      margin-top: 10px;
    }
    h4 {
      font-size: 24px;
      letter-spacing: 0.03em;
      margin: 30px 0;
      color: #a7b0c2;
      font-weight: 700;
      transition: opacity 0.2s;
    }
    &--events {
      display: flex;
      gap: 20px;
      &__event {
        position: relative;
        width: 100%;
        background-color: gray;
        height: 396px;
        overflow: hidden;
        img {
          width: 100%;
          height: 110%;
          filter: blur(9px);
          position: absolute;
          z-index: 2;
        }
        &--text {
          position: absolute;
          z-index: 99;
          color: white;
          padding: 29px 37px;

          h5 {
            font-weight: 700;
            color: rgb(84, 81, 81);
            font-size: 19px;
            span {
              color: rgb(90, 82, 82);
              font-weight: 300;
              font-style: italic;
            }
          }
          h1 {
            font-size: 34px;
            color: rgb(90, 82, 82);
            letter-spacing: 0.03em;
            margin-bottom: 20px;
            margin-top: 180px;
          }
          &__location {
            display: flex;
            gap: 50px;
            h3 {
              font-size: 14px;
              letter-spacing: 0.03em;
              font-weight: 300;
              margin-top: 5px;
              margin-bottom: 2px;
            }
            h2 {
              font-weight: 700;
              color: #eee5e5;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1216px) {
  #detail {
    .detail {
      &--events {
        &__event {
          height: 340px;
          &--text {
            h1 {
              margin-top: 150px;
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 998px) {
  #detail {
    .detail {
      &--events {
        &__event {
          height: 340px;
          &--text {
            h1 {
              margin-top: 110px;
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 832px) {
  #detail {
    .detail {
      &--head {
        h1 {
          font-size: 24px;
        }
      }
      &--text {
        width: 100%;
        font-size: 16px;
      }
      h4 {
        font-size: 19px;
        margin: 16px 0;
      }
      &--events {
        &__event {
          height: 340px;
          &--text {
            h1 {
              margin-top: 110px;
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  #detail {
    .detail {
      padding: 10px 0;
      &--text {
        padding: 10px;
        font-size: 14px;
      }
      &--events {
        &__event {
          height: 250px;
          &--text {
            padding: 15px;
            h1 {
              margin-top: 50px;
              font-size: 22px;
            }
            &__location {
              &--row {
                h3 {
                  font-size: 14px;
                }
                h2 {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 510px) {
  #detail {
    .detail {
      &--events {
        &__event {
          height: 240px;
          &--text {
            padding: 5px;
            h1 {
              margin-top: 50px;
              margin-bottom: 10px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
