#soo {
    .soo {
      &-text {
        display: flex;
        align-items: center;
        gap: 90px;
        padding: 90px 0;
        h1 {
          font-size: 20px;
          line-height: normal;
          font-family: sans-serif;
          font-weight: 400;
        }
        button {
          background: #6fcf97;
          color: #fff;
          display: inline-flex;
          user-select: none;
          font-weight: 700;
          font-size: 14px;
          justify-content: center;
          align-items: center;
          letter-spacing: .03em;
          height: 38px;
          line-height: 38px;
          padding: 0 25px;
          min-width: 145px;
          text-decoration: none;
          transition: all .2s;
          border: none;
          cursor: pointer;
          outline: none;
        }
      }
      &-telegram {
        h1 {
          flex: 1 1 100%;
          color: #a7b0c2;
          font-size: 24px;
          letter-spacing: .03em;
          font-weight: 700;
          margin: 35px 0 25px;
        }
        &__blocks {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 30px;
          a {
            font-weight: 600;
            color: #fff;
            font-size: 20px;
            background: #3ea2ff;
            height: 56px;
            text-decoration: none;
            margin-bottom: 13px;
            padding-right: 150px;
            padding-left: 20px;
            display: inline-flex;
            align-items: center;
          }
        }
      }
  
      .chatu {
        h1 {
          flex: 1 1 100%;
          color: #a7b0c2;
          font-size: 24px;
          letter-spacing: .03em;
          font-weight: 700;
          margin: 35px 0 25px;
        }
        &-a {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;
          a {
            .icon-tg {
              font-size: 35px;
              background: rgb(48, 137, 239);
              height: 56px;
              padding: 0 20px;
              display: flex;
              align-items: center;
            }
            font-weight: 600;
            color: #fff;
            font-size: 17px;
            background: #3ea2ff;
            height: 56px;
            text-decoration: none;
            margin-bottom: 13px;
            padding-right: 80px;
            display: inline-flex;
            align-items: center;
            gap: 24px;
          }
        }
      }
  
      .kanalu {
        &-aa {
          display: flex;
          gap: 10px;
          a {
            .icon-tg {
              font-size: 35px;
              background: rgb(48, 137, 239);
              height: 56px;
              padding: 0 20px;
              display: flex;
              align-items: center;
            }
            font-weight: 600;
            color: #fff;
            font-size: 17px;
            background: #3ea2ff;
            height: 56px;
            text-decoration: none;
            margin-bottom: 13px;
            padding-right: 80px;
            display: inline-flex;
            align-items: center;
            gap: 24px;
          }
        }
      }
  
      .web {
        &-e {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;
          a {
            .icon-tg {
              font-size: 35px;
              background: rgb(83, 194, 105);
              height: 56px;
              padding: 0 20px;
              display: flex;
              align-items: center;
            }
            font-weight: 600;
            color: #fff;
            font-size: 17px;
            background: #77c86d;
            height: 56px;
            text-decoration: none;
            margin-bottom: 13px;
            padding-right: 80px;
            display: inline-flex;
            align-items: center;
            gap: 24px;
          }
        }
      }
  
      .face {
        &-c {
          display: flex;
          align-items: center;
          gap: 15px;
          a {
            .icon-tg {
              font-size: 35px;
              background: #35427b;
              height: 56px;
              padding: 0 20px;
              display: flex;
              align-items: center;
            }
            font-weight: 600;
            color: #fff;
            font-size: 17px;
            background: #647adf;
            height: 56px;
            text-decoration: none;
            margin-bottom: 13px;
            padding-right: 80px;
            display: inline-flex;
            align-items: center;
            gap: 24px;
          }
        }
      }
  
      .you {
        &-u {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px;
          a {
            .icon-tg {
              font-size: 35px;
              background: #ec0000;
              height: 56px;
              padding: 0 20px;
              display: flex;
              align-items: center;
            }
            font-weight: 600;
            color: #fff;
            font-size: 17px;
            background: #df6464;
            height: 56px;
            text-decoration: none;
            margin-bottom: 13px;
            padding-right: 80px;
            display: inline-flex;
            align-items: center;
            gap: 24px;
          }
        }
      }
  
      .git {
        &-t {
          a {
            .icon-tg {
              font-size: 35px;
              background: #211f1f;
              height: 56px;
              padding: 0 20px;
              display: flex;
              align-items: center;
            }
            font-weight: 600;
            color: #fff;
            font-size: 17px;
            background: #434242;
            height: 56px;
            text-decoration: none;
            margin-bottom: 13px;
            padding-right: 80px;
            display: inline-flex;
            align-items: center;
            gap: 24px;
          }
        }
      }
    }
  }

  
  @media (max-width: 600px) {
    #soo {
      .soo {

            }
      }
  }

  @media (max-width: 800px) {
    #soo {
      .soo {
        
      }
    }
  }

  