@import "../src/assets/style/Header.scss";
@import "../src/assets/style/Modal.scss";
@import "../src/assets/style/Footer.scss";
@import "../src/assets/style/Vacancy.scss";
@import "../src/assets/style/Soobshestvo.scss";
@import "../src/assets/style/ModalLogin.scss";
@import "../src/assets/style/Organizasii.scss";
@import "../src/assets/style/DetailVacancy.scss";
@import "../src/assets/style/DetailOrganization.scss";

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}
